<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    
</head>

<body>
    <h1>{{ welcomeTitle }}</h1>
    <p>Some text goes here</p>
    
    {{> footer }}
</body>

</html>